<%= render 'posts/modal' %>
<%= include_gon %>
<div class="container">
  <div class="row">

    <%= render 'pages/index/main_content' %>
    <%= render 'pages/index/side_menu' %>
  </div><!-- row -->

</div><!-- container -->